body {
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	/* background-color: rgb(148, 129, 105); */
	background-image: url(https://images.pexels.com/photos/172289/pexels-photo-172289.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	height: 5vh;
	justify-content: center;
	align-items: center;
	border-bottom: solid 5px black;
	box-sizing: border-box;
}

#flex-container {
	display: flex;
	flex-direction: column;
}

#screen-container {
	display: flex;
}
.screen {
	margin: 0;
	display: flex;
	color: white;
	flex-grow: 2;
	height: 70vh;
	background-color: black;
	flex-direction: column;
	align-items: center;

	/* background-image: url(https://preview.redd.it/8gu6fstejpq31.jpg?auto=webp&s=6c6ba7d361e9174da6d17725e636535a62e7ea29); */
	/* background-image: url(https://i.pinimg.com/564x/2e/a6/18/2ea61842ff0178b75857f1bc7cfd744a.jpg); */
	/* background-size: cover;
	background-repeat: no-repeat; */
	/* position: relative; */
}

#player-turn {
	background-color: green;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}

#enemy-turn {
	background-color: red;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}

#character-creator-container {
	margin: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.character-details {
	border: solid 2px #b83f1a;
}

.table-header {
	text-align: center;
}

#leftPanel {
	display: flex;
	/* 	box-sizing: border-box; */
	border-right: solid 5px black;
	background-color: azure;
	opacity: 0.5;
	/* width: 100px; */
}

#rightPanel {
	display: flex;
	flex-grow: 1;
	/* margin-right: auto; */
	/* box-sizing: border-box; */
	border-left: solid 5px black;
	background-color: blue;
	opacity: 0.5;
	/* width: 100px; */
}

.player-panel {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	bottom: 0;
	height: 25vh;
	background-image: url(https://img.freepik.com/premium-photo/grunge-old-vintage-retro-paper-texture-background_47840-948.jpg);
	color: white;
	border: solid 5px black;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	gap: 50px;
}

#inventory {
	background-color: #330c0c;
	padding: 10px;
	flex-basis: 400px;
	border: solid 5px brown;
}

.playerPortrait {
	object-fit: cover;
	max-height: 100%;
	max-width: 100%;
}

#stats {
	background-color: #330c0c;
	padding: 10px;
	flex-basis: 200px;
	border: solid 5px brown;
}

.buttons {
	flex-basis: 200px;
}

.skill {
	background-color: #b83f1a;
	border: solid black;
	color: white;
	padding: 10px 20px;
	text-align: center;
	font-size: 16px;
	margin: 4px 4px;
	cursor: pointer;
}

.enemy-panel {
	display: flex;
	flex-direction: row;
	justify-content: center;
	bottom: 0;
	height: 25vh;
	background-image: url(https://img.freepik.com/premium-photo/grunge-old-vintage-retro-paper-texture-background_47840-948.jpg);
	color: white;
	border: solid 5px black;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	gap: 50px;
}
