html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: black;
	font-family: "MedievalSharp", cursive;
}

.header {
	display: flex;
	background-image: url(https://images.pexels.com/photos/172289/pexels-photo-172289.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	height: 4vh;
	justify-content: center;
	color: white;
	align-items: center;
	border-bottom: solid 5px black;
	box-sizing: border-box;
}

#flex-container {
	display: flex;
	flex-direction: column;
	background-color: black;
	height: 46vh;
}

#screen-container {
	display: flex;
	flex-grow: 1;
	height: 100%;
}

.screen {
	margin: 0;
	display: flex;
	color: white;
	flex-grow: 1;
	flex-basis: 0;

	flex-direction: column;
	align-items: center;
	/* overflow: auto; */

	/* background-image: url(https://preview.redd.it/8gu6fstejpq31.jpg?auto=webp&s=6c6ba7d361e9174da6d17725e636535a62e7ea29); */
	/* background-image: url(https://i.pinimg.com/564x/2e/a6/18/2ea61842ff0178b75857f1bc7cfd744a.jpg); */
	/* background-size: cover;
	background-repeat: no-repeat; */
	/* position: relative; */
}

#player-turn {
	background-color: green;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}

#enemy-turn {
	background-color: red;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}

#character-creator-container {
	margin: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.character-details {
	border: solid 2px #b83f1a;
}

.table-header {
	text-align: center;
}

#leftPanel {
	display: flex;
	/* 	box-sizing: border-box; */
	border-right: solid 5px black;
	background-color: azure;
	opacity: 0.5;
	/* width: 100px; */
}

#rightPanel {
	display: flex;
	flex-grow: 1;
	/* margin-right: auto; */
	/* box-sizing: border-box; */
	border-left: solid 5px black;
	background-color: blue;
	opacity: 0.5;
	/* width: 100px; */
}

.player-panel {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	bottom: 0;
	height: 25vh;
	background-image: url(https://img.freepik.com/premium-photo/grunge-old-vintage-retro-paper-texture-background_47840-948.jpg);
	color: white;
	border: solid 5px black;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	gap: 40px;
}

.enemy-panel {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 25vh;
	background-image: url(https://img.freepik.com/premium-photo/grunge-old-vintage-retro-paper-texture-background_47840-948.jpg);
	color: white;
	border: solid 5px black;
	border-top: 0px;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	gap: 40px;
}

.inventory {
	background-color: #330c0c;
	padding: 10px;
	flex-basis: 350px;
	height: 90%;
	border: solid 2px black;
	margin: 10px;
	box-sizing: border-box;
}

.portrait-img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.portrait-container {
	display: flex;
	height: 95%;
	width: 200px;
	border: solid 2px brown;
	box-sizing: border-box;
	margin-left: 20px;
}
.stats-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 60px;
	margin-right: 20px;
	margin-left: 20px;
	flex-grow: 1;
	box-sizing: border-box;
	height: 90%;
}

.stats {
	display: flex;
	background-color: #330c0c;
	padding: 10px;
	flex-basis: 200px;
	flex-grow: 1;
	border: solid 2px black;
	align-items: stretch;
	justify-content: center;
	box-sizing: border-box;
}

.enemy-panel .stats {
	flex-grow: 2;
	height: 95%;
	margin-right: 20px;
}

.panel-buttons-container {
	display: flex;
	flex-direction: column;
	flex-basis: 200px;
	flex-grow: 1;
	height: 100%;
	justify-content: center;
}

.panel-buttons {
	display: flex;
	background-color: #b83f1a;
	border: solid black;
	color: white;
	padding: 5px 5px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	justify-content: center;
	flex-grow: 1;
	transition: all 0.3s ease-in-out;
}

.panel-buttons:hover {
	background-color: #ca3e1e;
	color: black;
	transform: scale(1.1);
}

#character-creation-intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

#character-creation-intro div {
	display: flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
	text-align: justify;
}

#character-table-body * {
	display: flex;
	justify-content: space-between;
}

.character-choice-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #b83f1a;
	border: solid white;
	color: white;
	padding: 5px 10px;
	text-align: center;
	font-size: 16px;
	margin: 20px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	height: 8px;
}

.character-choice-button:hover {
	background-color: green;
	color: black;
	transform: scale(1.1);
}

.character-choice-button.active {
	background-color: green;
	color: black;
	transform: scale(1.1);
}

#character-table td {
	padding-bottom: 10px;
}

#character-table th {
	padding-bottom: 20px;
}

#character-table tr {
	gap: 50px;
	margin: 10px;
}

@media (max-width: 910px) {
	.inventory {
		display: none;
	}

	.player-panel .portrait-container {
		display: none;
	}
}
